<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904148149532-4dd63oakk5jrfs2gc0qtin7nn0osb97q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904148149532-4dd63oakk5jrfs2gc0qtin7nn0osb97q</string>
	<key>API_KEY</key>
	<string>AIzaSyC8yI0dX8aZLi3PkuNzWKB-JjWnNjCOUvY</string>
	<key>GCM_SENDER_ID</key>
	<string>904148149532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fidelight</string>
	<key>PROJECT_ID</key>
	<string>fidelight-4e8b7</string>
	<key>STORAGE_BUCKET</key>
	<string>fidelight-4e8b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904148149532:ios:97ff0889fc7ac018bfc6d9</string>
</dict>
</plist>